#root {
    height: 100%;
    width: 100%;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.main {
    overflow-x: auto;
}

.slide {
    overflow: auto;
}

.disc {
    list-style: disc;
    padding: inherit;
}

.forgot-password {
    margin-top: 0.75rem;
    float: right;
    font-size: 0.8em;
}

a {
    color: @color-primary;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: color 9999s ease-out, background-color 9999s ease-in-out;
}

.elgg-system-messages {
    position: fixed;
    top: 24px;
    right: 20px;
    max-width: 500px;
    z-index: 2000;
}

.elgg-system-messages li {
    margin-top: 10px;
}

.elgg-system-messages li p {
    margin: 0;
}

.elgg-message {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    font-weight: bold;
    display: block;
    padding: 10px;
    cursor: pointer;
}
.elgg-state-success {
    background: #e6efc2;
    border-color: #c6d880;
    color: #264409;
}
.elgg-state-error {
    background: #fbe3e4;
    border-color: #fbc2c4;
    color: #8a1f11;
}
.elgg-state-notice {
    background-color: #4690D6;
}

.messages {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding-left: 0.75rem;

    &.error {
        border-left: 5px solid #F44336;
    }
}

.forgot-password__description {
    margin: 0 0 4rem 0;
}

.register__captcha {
    margin: 2rem 0 4rem 0;
}

.article__intro {
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
}

.article__request {
    max-width: 65rem;
    margin: 0 auto;
}

.article__body {
    max-width: initial;
    padding: 0;
}

.article__paragraph:last-child {
    margin: 0 0 2rem;
}

.article__image {
    display: block;
    margin: 0 auto;
}

.article__image.___padding {
    padding: 2rem;
}

.article__image.___shadow {
    display: inline-block;
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.11), 0 1.5rem 3rem -2rem rgba(0, 0, 0, 0.16)
}

.article__image.___right {
    margin-left: 2rem;
}

.article__image.___left {
    margin-right: 2rem;
}

.article__form {
    max-width: 50rem;
    text-align: center;
    margin: 2rem auto;
}

.section {
    padding: 4rem 0 2rem 0;
}

.section:last-child {
    padding: 4rem 0 0 0;
}

.article h2 {
    margin-bottom: 2rem;
}

.article h3 {
    margin-bottom: 1rem;
}

.divider {
    width: 8rem;
    height: 1px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
}